.dialogBoxInput {
  width: 957px;
  height: 58px;
  border-radius: 10px;
  border: 1px solid #ebebeb;
  background: #fff;
  padding-left: 29px;
  outline: none;
}

.dialogBoxButton {
  background: #fff;
  border: none;
}

.dialogBoxButton:active {
  color: gray;
}
