.notification {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  border-radius: 12px;
  max-width: 510px;
  width: fit-content;
  padding: 17px 19px;
  box-shadow: 0 2px 4px var(--color-card-shadow);
}

.error {
  background-color: var(--color-error-notification);
}

.warning {
  background-color: var(--color-warning-notification);
}

.success {
  background-color: var(--color-success-notification);
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  gap: 8px;
}

.main {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-grey);
}

.text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--color-dull-grey);
}

.icon {
  margin-right: 10px;
  flex-shrink: 0;
}

.close {
  flex-shrink: 0;
  margin-left: 39px;
}

.closeWithText {
  margin-left: auto;
}
