$smoky-white: #f5f5f5;
$white: #ffffff;
$beige: #fafafa;
$white-beige: #fbfbfb;
$light-beige: #f5f8ff;
$border-beige: #f4f1e4;
$dark-beige: #c1baac;
$beige-grey: #a2a2a2;
$grey: #bcc1be;
$border-disabled: #eeeeee;

$soft-violet: #d1d4ea;
$navy-blue: #5896c0;
$dark-blue: #7ec0ee;
$smoky-blue: #2a6496;
$cloudy-blue: #23527c;
$blue-steel: #4980a5;
$blue: #e6e8fd;
$sleepy-blue: #cbd9f1;
$sky-blue: #dee1fe;

$dirty-blue: #d1d4ea;
$middle-light-blue: #99d5f6;
$brilliant-blue: #41a5b2;
$light-blue: #bde8fc;
$pale-blue: #ccd7de;
$soft-blue: #e9f3f6;
$border-blue: #f3f7f8;
$grey-blue: #d7e6eb;
$active-border: #ededed;
$smoky-white: #f8f8f8;
$border-white: #ebebeb;
$white-aluminum: #a6a6a6;
$decomposition-hover: #f1f1f1;
$light-grey: #dadada;

$light-grey: #f6f6f6;
$shadow: #f4f4f4;
$soft-grey: #ececec;
$dirty-grey: #454545;
$dark-grey: #323232;
$brown-grey: #2d2d2d;
$light-brown-grey: #7e7e7e;
$response-background: #333333;
$response-border: #3d3d3d;
$black: #000000;
$silver: #c0c0c0;
$grey: #949494;
$aluminum: #a6a6a6;
$dull-grey: #737373;
$border-grey: #ededed;

$dull-red: #f64e4e;
$red: #d81616;
$error-message: #f14747;
$saturated-red: #ff3434;
$saturated-purple-pink: #f27171;
$pink: #f69292;
$saturated-pink: #ff8a8a;

$light-green: #f4faf6;
$calm-green: #8aa898;
$bright-green: #5e865f;
$green: #698e7a;
$dark-green: #454545;
$dirty-green: #958b76;
$border-green: #84be9f;

$sand-yellow: #dac34b;
$bright-yellow: #ebcf3f;

$light-brown: #cfc2a6;
$brown: #aa9d82;
$soft-beige: #d7d0c1;

$post-green: #6cbf97;
$put-orange: #f29654;
$delete-red: #eb6e6e;

$popup-border: #f2f2f2;

$info-code: #19cece;
$ok-code: #55b346;
$redirect-code: #ffd600;
$client-error-code: #e9971d;

$error-notification: #f6cab1;
$warning-notification: #feffe2;
$success-notification: #eeffe8;
