:root {
  --header-height: 80px;
  --footer-height: 68px;
  --main-content-height: calc(100vh - 80px - 36px);
  --accordions-height: calc(100vh - 364px);
  --request-info-height: calc(100vh - 286px);
  --logo-search-pages-menu-height: 340px;
  --logo-search-create-requests-height: 257px;
  --logo-search-height: 179px;
}
