$headerHeight: 80px;
$footerHeight: 68px;
$mainContentHeight: calc(100vh - 80px - 36px);
$accordionsHeight: calc(100vh - 364px);
$requestInfoHeight: calc(100vh - 286px);
$logoSearchPagesMenuHeight: 340px;
$logoSearchCreateRequestsHeight: 257px;
$logoSearchHeight: 179px;
