.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  color: var(--color-dirty-grey);
  cursor: pointer;
}

.wrapper_disabled {
  cursor: auto;
}

.customCheckbox {
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  flex-shrink: 0;
  border: 2px solid var(--color-navy-blue);
}

.customCheckbox::before {
  background-color: var(--color-navy-blue);
}

.customCheckbox_disabled {
  border-color: var(--color-silver);
  color: var(--color-silver);
  cursor: auto;
}

.customCheckbox_disabled::before {
  background-color: var(--color-silver);
  cursor: auto;
}

.customCheckbox::before {
  content: '';
  position: absolute;
  border-radius: 4px;
  width: 18px;
  height: 18px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all ease 0.2s;
  opacity: 0;
}

.checkbox:checked ~ .customCheckbox {
  border-color: var(--color-navy-blue);
}

.checkbox:checked ~ .customCheckbox_disabled {
  border-color: var(--color-silver);
}

.checkbox:checked ~ .customCheckbox::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.checkbox:checked ~ .customCheckbox .checkMark {
  opacity: 1;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkMark {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkMark_disabled {
  cursor: auto;
}

.label {
  font-family: 'Roboto';
  font-size: 22px;
  line-height: 26px;
}

.label_grey {
  color: var(--color-beige-grey);
}
