.button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.button_primaryAction {
  border-radius: 10px;
  border: 0;
  background: var(--color-navy-blue);
  color: var(--color-white);
}

.button_primaryAction:hover {
  color: var(--color-white);
  background: var(--color-button-hover-bg);
  text-decoration: none;
}

.button_primaryAction:active {
  background: var(--color-button-hover-bg);
  outline: 2px solid var(--color-button-outline);
  outline-offset: -2px;
}

.button_primaryAction:disabled {
  background-color: var(--color-button-disabled);
}

.button_primaryLarge {
  border-radius: 10px;
  border: 0;
  background: var(--color-navy-blue);
  padding: 8px 36px;
  font-size: 26px;
  line-height: 30px;
  color: var(--color-white);
}

.button_primaryLarge:hover {
  color: var(--color-white);
  background: var(--color-button-hover-bg);
  text-decoration: none;
}

.button_primaryLarge:active {
  background: var(--color-button-hover-bg);
  outline: 2px solid var(--color-button-outline);
  outline-offset: -2px;
}

.button_primaryLarge:disabled {
  background-color: var(--color-button-disabled);
  pointer-events: none;
  cursor: default;
}

.button_secondaryAction {
  border: 2px solid transparent;
  border-radius: 10px;
  background: transparent;
  color: var(--color-navy-blue);
}

.button_secondaryAction:hover {
  border: 2px solid var(--color-button-secondary-hover);
  background-color: var(--color-button-secondary-hover);
  color: var(--color-navy-blue);
  text-decoration: none;
}

.button_secondaryAction:active {
  border: 2px solid var(--color-white);
  outline-offset: -2px;
}

.button_secondaryAction:disabled {
  background-color: var(--color-white);
  color: var(--color-button-secondary-disabled);
  pointer-events: none;
  cursor: default;
}
