@import '~@assets/styles/variables/colors.scss';
@import '~@assets/styles/services.scss';

.authPageWrapper {
  width: 100%;
  height: 100%;
  background: #FAFAFA;
  display: flex;
}

.left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10em;

    background: #F9F9FB;
    border-radius: 10px;
}

.loginTitle {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    color: #414141;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 520px;
    height: 221px;
}

.loginFormInput {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 520px;
    height: 42px;

    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
}

.loginFormSubmit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    gap: 8px;

    color: white;

    width: 520px;
    height: 48px;

    background: #4795D3;

    border: none;
    border-radius: 10px;
}

.forgetPassword {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1em;

    width: 520px;
    height: 21px;
}

.forgetPassword a {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-decoration: none;

    color: #2692CE;
}
