.container {
  width: 1045px;
  border-radius: 24px;
  background-color: #ffffff;
  padding: 20px;
}

.subtitle {
  font-size: 18px;
  color: #565656;
}

.blockName {
  font-size: 18px;
  font-weight: 500;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.logo {
  order: 1;
}

.info {
  order: 2;
  margin-left: 20px;
}

.infoItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 22px;
  font-weight: 500;
  order: 1;
  margin-right: 100px;
}

.cardType {
  padding: 4px 8px 4px 8px;
  height: 5%;
  border-radius: 8px;
  font-size: 15px;
  color: #ffffff;
  order: 2;
  background-color: #5f95e5;
  width: 122px;
}

.closeButton {
  order: 3;
  background-color: #ffffff;
  border: none;
}

.annotation {
  margin-top: 10px;
}

.dependencies {
  margin-top: 10px;
}

.componentDependencies {
  display: inline-block;
  margin: 5px 10px 0px 0px;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  padding: 4px 8px 4px 8px;
  color: #4678b9;
}

.address {
  margin-top: 10px;
}

.storageAddress {
  color: #4678b9;
}

.installationMethod {
  margin-top: 10px;
}

.autorship {
  margin-top: 10px;
}