.root {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 463px) 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'logo  header'
    'sidebar  scn';
  min-height: 100%;
  background: var(--color-white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: header;
  width: 100%;
  padding: 0 24px 0 0;
}

.sideBar {
  grid-area: sidebar;
  width: 100%;
  padding: 26px 0 0 30px;
  background: var(--color-beige);
}

.logoWrapper {
  height: 100px;
  width: 100%;
  grid-area: logo;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--color-beige);
  padding: 0 0 0 24px;
}

.headerControls {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sideBarContent {
  padding: 0 32px 10px 32px;
}

.main {
  display: flex;
  padding-top: 36px;
  padding-left: 24px;
  grid-area: scn;
}

@media (max-width: 1365px) {
  .root {
    grid-template-columns: minmax(0, 25%) 1fr;
  }
}
