@import '~@assets/styles/variables/colors.scss';

.root {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0px, 463px) 1fr;
  grid-template-rows: 72px 1fr;

  min-height: 100%;

  background: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
}

.sideBar {
  grid-row: span 2;

  width: 100%;
  padding: 16px 24px;

  background: #{$beige};
}

.logoWrapper {
  height: 80px;
  width: 100%;

  margin-bottom: 25px;
}

.sideBarContent {
  padding: 0 32px 10px 32px;
}

.main {
  display: flex;
  padding-top: 36px;
  padding-left: 24px;
}

@media (max-width: 1365px) {
  .root {
    grid-template-columns: minmax(260px, 25%) 1fr;
  }
}
