@import '~@assets/styles/variables/colors.scss';

.root {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0px, 463px) 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'logo  header'
    'sidebar  scn';

  min-height: 100%;

  background: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: header;
  width: 100%;
  padding: 0px 24px 0 0;
}

.sideBar {
  grid-area: sidebar;

  width: 100%;
  padding: 26px 0px 0px 30px;

  background: #{$beige};
}

.logoWrapper {
  height: 100px;
  width: 100%;

  grid-area: logo;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: #{$beige};

  padding: 0 0 0 24px;
}

.languageWrapper {
  width: 100%;
  display: inline-block;
}

.sideBarContent {
  padding: 0 32px 10px 32px;
}

.main {
  display: flex;
  padding-top: 36px;
  padding-left: 24px;
  grid-area: scn;
}

@media (max-width: 1365px) {
  .root {
    grid-template-columns: minmax(0px, 25%) 1fr;
  }
}

.headerButtonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: 42px;
  gap: 32px;
  margin-right: 50px;
}

.authWrapper {
  padding: 10px;
}

.profileWrapper {
  width: 108px;
  height: 42px;
  display: flex;
  gap: 8px;
}

.profileWrapperWithLogout {
  background: #f7f7f7;
}

.profileUsername {
  text-align: center;
  line-height: 36px;
  padding-left: 5px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.logInButton {
  width: 108px;
  height: 42px;
  color: $navy-blue;
  cursor: pointer;
  background: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}

.logInButton:hover {
  background: $white;
  border: 2px solid #dbdbdb;
  border-radius: 10px;
}

.logoutWrapper {
  display: flex;
  position: absolute;
  width: 127px;
  top: 60px;
  right: 25px;
  z-index: 9999;
  flex-direction: column;
}

.logoutButton {
  display: block;
  margin-top: 20px;
  text-align: center;
  background: #f7f7f7;
  cursor: pointer;
  border: none;
  width: 127px;
  height: 54px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  color: #737373;
  line-height: 25.78px;
  text-align: center;

  &:hover {
    background: #dbdbdb;
  }
}
