@import '~@assets/styles/variables/colors.scss';

.root {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0px, 463px) 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'logo  header'
    'sidebar  scn';  
  
  min-height: 100%;

  background: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-area: header;
  width: 100%;
  padding:  0px 24px 0 0;
}

.sideBar {
  grid-area: sidebar;

  width: 100%;
  padding: 26px 0px 0px 30px;

  background: #{$beige};
}

.logoWrapper {
  height: 100%;
  width: 100%;

  grid-area: logo;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background: #{$beige};

  padding: 0 0 0 24px;
}

.languageWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.sideBarContent {
  padding: 0 32px 10px 32px;
}

.main {
  display: flex;
  padding-top: 36px;
  padding-left: 24px;
  grid-area: scn;
}

@media (max-width: 1365px) {
  .root {
    grid-template-columns: minmax(0px, 25%) 1fr;
  }
}
