@import '~@assets/styles/variables/colors.scss';


.switch {
    position: relative;
    display: inline-block;
    width: 69px;
    height: 36px;
  }
  
  .switch input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .sliderRound {
    position: absolute;
    cursor: pointer;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $popup-border;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 35px;
  }
  
  .sliderRound:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 3px;
    top: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .sliderRound:before {
    left: 36px;
    background-color: $navy-blue
  }
  
  .sliderRound.round {
    border-radius: 34px;
  }
  
  .sliderRound.round:before {
    border-radius: 50%;
  }