.container {
  width: 450px;
  padding: 15px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px;
  box-shadow: 0 4px 10px 0 var(--color-card-shadow);
  cursor: pointer;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.logo {
  order: 1;
}

.cardInfo {
  order: 2;
  margin-left: 15px;
}

.infoItem {
  color: var(--color-card-text);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
}

.description {
  color: var(--color-card-text);
  margin-top: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: var(--color-dark-grey);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.subtitle {
  padding: 4px 8px;
  height: 26px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--color-white);
}

.subtitleSubSystem {
  background-color: var(--color-card-subtitle-subsystem);
  width: 95px;
}

.subtitleKnowledgeBase {
  background-color: var(--color-card-subtitle-kb);
  width: 135px;
}

.subtitleInterface {
  background-color: var(--color-card-subtitle-interface);
  width: 80px;
}

.subtitleProblemSolver {
  background-color: var(--color-card-subtitle-problemsolver);
  width: 125px;
}

.infoUrl {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 0;
}

.icon {
  order: 1;
}

.installLink {
  background-color: var(--color-white);
  color: var(--color-navy-blue);
  border: none;
  order: 2;
  cursor: pointer;
}

.installLink:active,
.installLink:hover {
  color: var(--color-card-install-link-hover);
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}
