.wrap {
  position: absolute;
  height: calc(100vh - 80px - 36px);
  display: none;
}

.wrapShow {
  display: block;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.frame {
  width: 100%;
  height: 100%;
  margin: -7px;
  border: 0;
}

.popup {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-scg-popup);
}

.popup b {
  font-weight: 500;
}

.popupClear {
  width: 383px;
}

.popupNotClear {
  width: 344px;
}
