.hintAskButton {
  padding: 16px;
  color: #454545;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 10px;
  border: none;
  background: #f8f8f8;
}

.hintAskButton:hover {
  background-color: #e8e8e8;
}
