@import '~@assets/styles/variables/colors.scss';

.labelName {
  display: block;
  padding-left: 16px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: $dull-grey;

  margin-bottom: 4px;
}

.errorText {
  font-weight: 400;
  size: 16px;
  color: $error-message;
  margin-top: 6px;
}
