.iconButton {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}

.iconButton path {
  transition: all ease 0.3s;
}

.iconButton:hover path {
  fill: var(--color-icon-hover);
}

.iconButton_squared {
  border-radius: 10px;
}

.iconButton_squared:hover {
  background: var(--color-soft-grey);
}

.iconButton_l {
  width: 36px;
  height: 36px;
}

.iconButton_m {
  width: 24px;
  height: 24px;
}

.iconButton_s {
  width: 16px;
  height: 16px;
}

.iconButton_disabled {
  pointer-events: none;
}
