@import '~@assets/styles/variables/colors.scss';

.root {
  background: $beige;
  display: grid;
  grid-template-columns: minmax(0, 463px) 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    'logo header'
    'main main';
  min-height: 100vh;
  min-width: 100vw;

  .header {
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: flex-end;
    grid-area: header;
    width: 100%;
    padding-right: 24px;
  }

  .logoWrapper {
    height: 100px;
    width: 100%;
    grid-area: logo;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $beige;
    padding-left: 24px;
  }

  .main {
    display: flex;
    justify-content: start;
    height: 100%;
    width: 35%;
    padding-top: 36px;
    padding-left: 24px;
    grid-area: main;

    @media (max-width: 600px) {
      padding: 0;
    }
  }

  .authPageImage {
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;

    @media (max-width: 1200px) {
      display: none;
      padding: 0;
    }
  }

  .innerAuthPageImage {
    height: 100%;
  }
}

.languageWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
