@keyframes fade-out-to-top {
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}

@keyframes fade-in-to-bottom {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 28px;
  height: 36px;
}

.leftContent {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 2px 0;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--color-beige-grey);
}

.icon {
  margin-right: 6px;
}

.chevronDownWrapper {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  transform: rotate(0);
  transition: transform ease 0.3s;
}

.chevronDownWrapper_expanded {
  transform: rotate(180deg);
}

.contentWrapper {
  padding: 8px 16px 0 24px;
  animation: fade-out-to-top ease 0.3s both;
}

.contentWrapper_expanded {
  animation: fade-in-to-bottom ease 0.3s both;
}
